@font-face {
    font-family: "0xProto";
    src: url('fonts/0xproto.ttf') format('truetype');
    font-display: swap; /* Improves perceived performance */
}
div{
    text-align:justify;
    letter-spacing: 1px;
}

body {
    font-family: '0xProto';
    letter-spacing: 1px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    border: 2px solid #000555;
    background-color: #ffffff;
    color: #000555;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 330px;
    height: 60px;
}

.button:hover {
    color: #ffffff;
    border-color: #000555;
    background-color: #000555;
}

.nf {
    font-family: '0xProto', monospace;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hover-outline {
    outline: rgb(0, 5, 85) solid 3px;
    display: inline-block;
    text-align: center;
    color: rgb(0, 5, 85);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

.hover-outline:hover {
    outline-width: 5px;
}

h1{
    padding: 5px;
    margin: 0px;
}